.extra-product__list {
  @include list-reset();
}

@media (min-width: $tablet-width) {
  .extra-product__list {
    margin: 50px 0 0;
  }
}

.extra-product {
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 42px;
    right: 0;
    width: 60%;
    height: 3px;
    background-color: $green;
    z-index: -1;
  }
}

.extra-product__header {
  display: inline-block;
  color: #111111;
  text-align: left;
  font-weight: normal;
  position: relative;
  padding-right: 22px;
  background-color: #ffffff;
}

@media (max-width: $mobil-width) {
  .extra-product__header {
    margin: 28px 0 34px;
  }
}

@media (min-width: $tablet-width) {
  .extra-product::after {
    top: 52px;
    width: 100%;
  }

  .extra-product__header {
    padding-right: 36px;
    padding-left: 37px;
  }
}

@media (min-width: $desktop-width) {
  .extra-product__flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 86px;
  }

  .extra-product__header {
    padding-left: 38px;
    margin-left: -40px;
  }

  .extra-product__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.extra-product__item {
  border-top: 1px solid $line-gray-dark;
  padding: 15px 0 17px;
}

.extra-product__item:last-child {
  border-bottom: 1px solid $line-gray-dark;
}

@media (min-width: $tablet-width) {
  .extra-product__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $line-gray-dark;
    padding: 12px 37px 25px;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .extra-product__item {
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 895px;
    padding: 12px 0 9px;
    border: none;
    border-top: 1px solid $line-gray-dark;
  }
}

.extra-product-info {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 15px;
}

.extra-product__title {
  font-family: "Oswald", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.extra-product__value {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.extra-product__button {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .extra-product-info {
    padding: 15px 0;
  }

  .extra-product__button {
    width: 100%;
    margin: 9px 0 2px;
    font-size: 16px;
    line-height: 20px;
  }

  .extra-product__value:first-child {
    margin-right: 50px;
  }

  .extra-product__item:nth-child(2) .extra-product__value:first-child {
    margin-right: 60px;
  }

  .extra-product__title {
    font-size: 20px;
    line-height: 20px;
  }

  .extra-product__value {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .extra-product__button {
    width: 245px;
    margin: 0 0 3px;
  }

  .extra-product-info {
    width: 285px;
    margin-right: 40px;
  }

  .extra-product__title {
    margin-right: auto;
  }
}

.extra-product__price-all {
  display: flex;
  position: relative;
  width: 280px;
  min-height: 289px;
  margin: 39px 0 35px;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 113px;
    background: url("../img/icon-gift.svg") no-repeat;
    width: 55px;
    min-height: 60px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
    width: 280px;
    min-height: 289px;
    z-index: -1;
  }
}

.extra-product__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  align-self: flex-end;
  margin: 0 45px 42px;
}

@media (min-width: $tablet-width) {
  .extra-product__price-all {
    justify-content: flex-end;
    width: 708px;
    min-height: 275px;
    margin: 69px 0 0;

    &::before {
      left: 91px;
    }

    &::after {
      top: 0;
      left: 0;
      background: url("../img/gift-photo-tablet@1x.jpg") no-repeat;
      width: 708px;
      min-height: 200px;
    }
  }

  .extra-product__text {
    align-self: flex-start;
    margin: 72px 115px 0 0;
    width: 170px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .extra-product__price-all {
    width: 245px;
    min-height: 289px;
    margin: 50px 0 0;

    &::before {
      left: 96px;
    }

    &::after {
      background: url("../img/gift-photo-desktop@1x.jpg") no-repeat;
      width: 245px;
      min-height: 289px;
    }
  }

  .extra-product__text {
    align-self: flex-end;
    margin: 0 37px 41px 0;
    text-align: center;
  }
}
