.page-main__header {
  padding: 20px 0;
}

.page-main__text {
  font-family: "Oswald", "Verdana", sans-serif;
  color: #111111;
  text-transform: uppercase;
  padding-right: 10px;
}

@media (min-width: $tablet-width) {
  .page-main__header {
    padding: 6px 0;
  }
}

@media (min-width: $desktop-width) {
  .page-main__header {
    margin-top: 65px;
    margin-bottom: 28px;
  }
}
