.button {
  display: block;
  padding: 16px 0;
  font-family: "Oswald", "Georgia", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $green;
  text-decoration: none;
  text-align: center;
}
