.developer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  padding-top: 19px;
  color: #444444;
}

.developer__svg {
  margin-right: -6px;
}

.developer__link:hover svg {
  fill: $green;
}

.developer__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .developer__svg {
    margin-left: 15px;
  }

  .developer__link {
    padding-top: 4px;
  }
}

@media (min-width: $desktop-width) {
  .developer__link {
    padding-top: 0;
  }
}
