.page-footer {
  background-color: $gray;
  padding-bottom: 19px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    z-index: -1;
    padding-bottom: 0;
  }
}

.page-footer-relative {
  position: relative;
  margin: 0 auto;
}

.page-footer__wrapper {
  background-color: #ffffff;
}

.page-footer__wrapper--color {
  background-color: $gray;
}

.page-footer__cooperation-contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 26px;
}

.page-footer__cooperation {
  margin: 0;
  font-style: normal;
}

.page-footer__contacts {
  width: 187px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

.page-footer__contacts br {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer-relative {
    position: relative;
    margin: 0 auto;
  }

  .page-footer__cooperation-contacts {
    padding: 42px 0 36px;
  }

  .page-footer__cooperation {
    font-size: 20px;
    line-height: 25px;
    width: 155px;
    padding: 25px 0 25px 40px;
  }

  .page-footer__contacts {
    width: 155px;
    font-size: 16px;
    padding: 21px 41px;
    text-align: right;
  }

  .page-footer__text {
    display: block;
    margin-top: 20px;
  }

  .page-footer__contacts br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-footer-relative {
    position: relative;
    margin: 0 auto;
  }

  .page-footer__wrapper {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
  }

  .page-footer__wrapper--color {
    background-color: #ffffff;
  }

  .page-footer__cooperation-contacts {
    width: 570px;
    position: absolute;
    padding: 41px 90px 36px 75px;
    box-sizing: border-box;
    z-index: 5;
    background-color: #ffffff;
    top: 97px;
    left: 0;
  }

  .page-footer__cooperation {
    padding-left: 0;
    padding-top: 22px;
  }

  .page-footer__contacts {
    padding-right: 0;
    text-align: left;
  }
}

.page-footer__section-map {
  position: relative;
}

.page-footer__iframe {
  position: absolute;
  width: 100%;
  height: 362px;
  top: 0;
  left: 0;
  z-index: 4;
}

.page-footer__map {
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  min-height: 362px;
  width: 100%;

  &::before {
    content: "";
    width: 55px;
    height: 53px;
    position: absolute;
    top: 176px;
    left: 130px;
    background: url("../img/map-pin.png") no-repeat;
    background-size: 55px 53px;
    z-index: 3;
  }
}

.page-footer__map-img {
  max-width: 320px;
  width: auto;
  height: 400px;
  position: absolute;
  top: -38px;
  left: 0;
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .page-footer__iframe {
    height: 400px;
    top: -3px;
  }

  .page-footer__map {
    max-width: 768px;
    min-height: 400px;

    &::before {
      width: 124px;
      height: 106px;
      top: 145px;
      left: 322px;
      background-size: 124px 106px;
    }
  }

  .page-footer__map-img {
    max-width: 768px;
    top: -5px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__iframe {
    top: 0;
  }

  .page-footer__map {
    max-width: 1440px;

    &::before {
      top: 150px;
      left: 1058px;
      margin-left: -60px;
    }
  }

  .page-footer__map-img {
    max-width: 1440px;
    top: 0;
  }
}

.page-footer__logo {
  padding: 39px 0 31px;
}

.page-footer__logo-link {
  display: block;
  position: relative;
  width: 128px;
  height: 24px;
  background-image: url("../img/logo-footer.svg");
  background-repeat: no-repeat;
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    padding-bottom: 42px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo {
    padding-bottom: 38px;
  }
}
