.page-footer {
  background-color: $gray;
}

.page-footer__wrapper {
  background-color: #ffffff;
}

.page-footer__cooperation-contacts {
  display: flex;
  justify-content: space-between;
}

.page-footer__cooperation {
  padding: 25px 0;
  margin: 0;
  font-style: normal;
}

.page-footer__contacts {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 25px 0;
  font-style: normal;
}


@media (min-width: $tablet-width) {
  .page-footer__cooperation-contacts {
    padding: 70px 60px;
  }

  .page-footer__cooperation {
    font-size: 20px;
    line-height: 25px;
    width: 155px;
    padding-left: 40px;
  }

  .page-footer__contacts {
    width: 155px;
    font-size: 16px;
    padding-right: 40px;
  }
}

.page-footer__map {
  width: 320px;
  margin: 0 auto;
  position: relative;

  &::before {
    content: "";
    width: 55px;
    height: 53px;
    position: absolute;
    top: 176px;
    left: 130px;
    background: url("../img/map-pin.png") no-repeat;
    background-size: 55px 53px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__map {
    width: 768px;

    &::before {
      width: 124px;
      height: 106px;
      top: 150px;
      left: 50%;
      margin-left: -60px;
      background-size: 124px 106px;
    }
  }

  .page-footer__map-img {
    width: 767px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__map {
    width: 1300px;
  }

  .page-footer__map-img {
    width: 1300px;
  }
}

.page-footer__logo {
  padding: 35px 0;
}

.page-footer__logo-link {
  display: block;
  position: relative;
  width: 128px;
  height: 24px;
  background-image: url("../img/logo-footer.svg");
  background-repeat: no-repeat;
  margin: 0 auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
