.social {
  padding: 20px 0;
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 135px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .social__list {
    padding-left: 30px;
    width: 126px;
  }
}

.social__item {
  @include list-reset();
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  &:hover svg {
    fill: $green;
  }

  &:active svg {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
    padding: 59px 0;
  }

  .social__vk {
    width: 30px;
    height: 16px;
  }

  .social__ig {
    width: 23px;
    height: 23px;
  }

  .social__fb {
    width: 14px;
    height: 28px;
  }
}
