.logo {
  display: block;
  padding: 12px 0;
}

.logo__img {
  width: 191px;
  height: 38px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    padding: 24px 0 0 0;
  }

  .logo__img {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    padding: 19px 0 0 0;
  }

  .logo__img {
    width: 202px;
    height: 59px;
  }
}
