.main-nav__toggle {
  position: absolute;
  top: -43px;
  right: 20px;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    width: 440px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 478px;
  }
}
