.main-nav__toggle {
  position: absolute;
  top: -43px;
  right: 20px;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
