.page-header__bg::before {
  content: "";
  position: absolute;
  top: 66px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 320px;
  min-height: 305px;
  background-color: $green;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: -1;
}

.page-header__container {
  position: relative;
}

.page-header__header {
  font-family: "Oswald", "Verdana", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: center;
}

.page-header__text {
  font-family: "Oswald", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: center;
}
