.example {
  background-color: $gray;
  padding-top: 17px;
}

.example__text {
  margin-top: 23px;
  margin-bottom: 25px;
  padding-right: 1px;
}

@media (min-width: $tablet-width) {
  .example {
    border-top: 1px solid $line-gray-all;
    background-color: #ffffff;
    z-index: -1;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
    padding-right: 10px;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 241px;
  }
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 0;
  }

  .example__text {
    margin-bottom: 53px;
  }

  .example__header {
    margin-top: 43px;
    margin-bottom: 64px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    border-top: none;
    padding-bottom: 3px;
    z-index: -1;
    background: linear-gradient(to top, #f2f2f2 76.7%, #ffffff 30%), linear-gradient(to right, #f2f2f2 58%, #eaeaea 58%);
  }

  .example__header {
    margin-bottom: 0;
    margin-top: 5px;
  }

  .example__background {
    background-color: #ffffff;
    padding: 15px 0 75px 0;
  }

  .example__wrapper {
    flex-direction: column;
    margin-bottom: 0;
  }

  .example__text {
    width: 435px;
    padding-right: 0;
    margin-top: 71px;
    margin-bottom: 68px;
  }
}

.example__items {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .example__items {
    width: 365px;
  }
}

.example__item {
  width: 124px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .example__item {
    width: 162px;
  }
}

.example__value {
  text-transform: uppercase;
  padding: 15px 10px;
  border: 1px solid $line-gray-dark;
  border-radius: 3px;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .example__value {
    font-size: 30px;
    line-height: 36px;
    padding: 15px 10px 19px;
  }
}

.example__mark {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  padding: 0 15px;
  margin: 0 18px;
  background-color: $gray;
  vertical-align: top;
  transform: translateY(-8px);
}

@media (min-width: $tablet-width) {
  .example__mark {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    margin: 0 11px;
    padding: 0;
  }

  .example__item:first-child .example__mark {
    margin: 0 24px;
  }
}

@media (min-width: $desktop-width) {
  .example__mark {
    background-color: $gray;
    padding: 0;
    margin: 0 16px;
  }
}

.example__total {
  font-family: "Oswald", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin-top: 10px;
}

.example__img-after {
  display: none;
}

.example__bg-wrapper {
  padding-top: 20px;
}

.example__hidden {
  transform: translateX(-20px);
}

.example__img-after,
.example__img-before {
  max-width: 320px;
}

@media (min-width: $tablet-width) {
  .example__total {
    width: 190px;
    font-size: 20px;
    text-align: right;
    margin-top: 12px;
  }

  .example__price {
    margin-top: 8px;
    display: block;
  }

  .example__relative {
    position: relative;
    min-height: 345px;
  }

  .example__hidden {
    transform: translateX(0);
  }

  .example__img-before {
    position: absolute;
    top: -169px;
    left: 16px;
    width: 690px;
    max-width: 690px;
    height: 517px;
    clip: rect(auto, 338px, auto, auto);
  }

  .example__img-after {
    display: block;
    position: absolute;
    top: -169px;
    left: 16px;
    width: 690px;
    max-width: 690px;
    height: 517px;
    clip: rect(auto, auto, auto, 338px);
  }

  .example__bg-wrapper {
    background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
    padding-top: 0;
    padding-bottom: 50px;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .example__total {
    display: flex;
    width: 327px;
    font-size: 20px;
    text-align: left;
    margin-top: 49px;
  }

  .example__price {
    margin-left: auto;
    margin-top: 0;
  }

  .example__relative {
    position: static;
    min-height: 1px;
  }

  .example__hidden {
    position: absolute;
    top: -598px;
    right: 100px;
    width: 690px;
    height: 517px;
    overflow: hidden;
    transform: translateX(-30px);
  }

  .example__img-before {
    position: absolute;
    top: 0;
    left: 0;
    width: 690px;
    height: 517px;
    clip: rect(auto, 365px, auto, auto);
    transform: translateX(60px);
  }

  .example__img-after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 690px;
    height: 517px;
    clip: rect(auto, auto, auto, 365px);
    transform: translateX(60px);
  }

  .example__bg-wrapper {
    background: none;
  }
}

.example__scale {
  display: flex;
  justify-content: space-between;
  width: 197px;
  margin-left: 44px;
  margin-top: 12px;
  padding-bottom: 20px;
}

.example__scale-slider {
  width: 84px;
  height: 12px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid $line-gray-dark;
  align-self: center;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 6px;
    width: 35px;
    height: 6px;
    background-color: $green;
    border-radius: 10px;
  }
}

@media (min-width: $tablet-width) {
  .example__scale {
    display: flex;
    justify-content: space-between;
    width: 570px;
    margin: 0 auto;
    padding: 0;
  }

  .example__scale-slider {
    width: 428px;
    height: 6px;
    position: relative;
    background-color: #dcdcdc;
    border-radius: 10px;
    align-self: center;

    &::before {
      top: -13px;
      left: 199px;
      width: 34px;
      height: 34px;
      background-color: #ffffff;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 212px;
      width: 8px;
      height: 8px;
      background-color: $green;
      border-radius: 50%;
    }
  }

  .example__scale-slider:hover::before {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  .example__scale-slider:active::before {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    border: 2px solid $green;
    width: 32px;
    height: 32px;
  }

  .example__scale-text {
    font-size: 20px;
    border-bottom: 1px dashed #b8b8b8;
    padding-bottom: 5px;
  }

  .example__scale-text:hover {
    border-bottom: 1px solid #989898;
  }
}

@media (min-width: $desktop-width) {
  .example__scale {
    position: absolute;
    right: 108px;
    bottom: 2px;
  }

  .example__scale-slider {
    &::before {
      top: -13px;
      left: 197px;
    }

    &::after {
      left: 210px;
    }
  }

  .example__scale-text {
    padding-bottom: 0;
  }
}
