.button {
  display: block;
  padding: 10px 0;
  font-family: "Oswald", "Verdana", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $green;
  text-decoration: none;
  text-align: center;
  outline: none;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}

.button--gray {
  background-color: $gray;
}

.button--gray:hover {
  background-color: #ebebeb;
}

.button--gray:active {
  background-color: #ebebeb;
  color: rgba(0, 0, 0, 0.3);
}
