.container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.container--relative {
  position: relative;
}

@media (min-width: $tablet-width) {
  .container {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .container-helper {
    width: 200px;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
  }

  .container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1220px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .container-helper {
    flex-shrink: 1;
    padding: 0;
  }

  .container-example {
    flex-shrink: 1;
    position: relative;
    max-width: 1440px;
  }

  .container-height {
    min-height: 577px;
  }
}
