.heading-secondary {
  font-family: "Oswald", "Verdana", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  font-style: normal;
  color: #111111;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .heading-secondary {
    font-size: 60px;
    margin: 48px 0 27px;
  }
}

@media (min-width: $desktop-width) {
  .heading-secondary {
    font-size: 60px;
    margin: 42px 0;
  }
}
