.form {
  font-family: "Oswald", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #222222;
}

@media (min-width: $tablet-width) {
  .form {
    margin-top: 55px;
    font-size: 20px;
    line-height: 20px;
  }

  .form__padding {
    padding: 0 69px;
    max-width: 630px;
  }
}

.form__fieldset {
  border: none;
  padding: 10px 0 7px;
  position: relative;
  margin: 0;
}

.form__fieldset--border {
  border-bottom: 1px solid $border-grey;
}

.form__list {
  @include list-reset();
}

@media (min-width: $tablet-width) {
  .form__fieldset {
    padding: 10px 0;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .form__padding {
    max-width: 1220px;
    padding: 0;
  }

  .form__fieldset--data {
    min-width: 570px;
  }
}

.form__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}

.form__label {
  flex-shrink: 0;
  margin-right: 15px;
  order: 1;
  cursor: pointer;
}

.form__input {
  order: 2;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid $line-gray-all;
  text-transform: uppercase;
  padding: 14px 15px;

  @include font-inherit();
  color: #444444;
  outline: none;
}

.form__list--radio {
  margin: 16px 0 -6px;
}

@media (min-width: $tablet-width) {
  .form__fieldset--border {
    border-bottom: none;
  }

  .form__list--radio {
    margin: 32px 0;
    padding: 0 30px;
    border: 1px solid #e6e6e6;
  }

  .form__item {
    margin-bottom: 20px;
  }

  .form__label {
    margin-right: 17px;
  }

  .form__input {
    min-width: 215px;
    height: 52px;
    padding: 14px 0 14px 18px;
  }

  input[name="weight"] + label {
    margin-right: 21px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset--radio {
    min-width: 570px;
  }

  .form__list--radio {
    margin: 0;
  }
}

.form__input:hover {
  border: 1px solid $line-gray-dark;
}

.form__textarea:focus,
.form__input:focus {
  border: 1px solid #444444;
  box-shadow: inset 0 0 0 1px #444444;
}

.form__input--invalid {
  border: 1px solid #ff8282;
  box-shadow: inset 0 0 0 1px #ff8282;
}

.form__input:focus ~ svg {
  fill: $green;
}

.form__mail--invalid {
  fill: #ff8282;
}

.form__header {
  display: inline-block;
  color: #111111;
  text-align: left;
  font-weight: normal;
  position: relative;
  padding-top: 18px;
  padding-right: 20px;
  background-color: #ffffff;
  text-transform: none;
}

.form__header-helper {
  display: inline-block;
  text-transform: none;
  margin: 0;
  padding-bottom: 30px;
}

.form__radio:first-child {
  margin-top: 10px;
}

.form__radio {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
}

.form__radio-label {
  margin-left: 45px;
  cursor: pointer;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: -7px;
    left: -1px;
    border: 1px solid $border-grey;
    border-radius: 50%;
    cursor: pointer;
  }

  &::after {
    content: "";
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: 9px;
    border-radius: 50%;
    background-color: $green;
    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .form__radio:first-child {
    margin-top: 34px;
  }

  .form__radio {
    margin-bottom: 33px;
  }

  .form__radio-label {
    margin-left: 57px;

    &::before {
      width: 38px;
      height: 38px;
      top: -10px;
      left: -1px;
    }

    &::after {
      width: 18px;
      height: 18px;
      top: 1px;
      left: 10px;
    }
  }
}

.form__radio-input:checked ~ label::after {
  display: block;
}

.form__radio-input:disabled ~ label {
  opacity: 0.3;
  cursor: default;
}

.form__radio-input:disabled ~ label::before {
  opacity: 0.3;
  cursor: default;
  border: 1px solid $border-grey;
}

.form__radio-label:active {
  opacity: 0.3;
}

.form__radio-label:hover::before {
  border: 1px solid #bababa;
}

.form__radio-input:focus + .form__radio-label::before {
  box-shadow: 0 0 0 2px $green;
}

.form__fieldset--contacts {
  position: relative;
  padding-bottom: 3px;

  &::after {
    content: "";
    position: absolute;
    top: 42px;
    right: 0;
    width: 60%;
    height: 3px;
    background-color: $green;
    z-index: -1;
  }
}

.form__list--contacts {
  margin-top: 2px;
}

.form__mail {
  width: 17px;
  height: 13px;
  position: absolute;
  top: 37%;
  right: 16px;
}

.form__item--phone::after {
  content: "";
  position: absolute;
  top: 28%;
  right: 13px;
  width: 20px;
  height: 20px;
  background: url("../img/icon-phone.svg") no-repeat;
}

input[type="email"] + label {
  margin-right: 11px;
}

input[type="tel"] + label {
  margin-right: 9px;
}

.form__wrapper-header {
  width: 280px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .form__fieldset--contacts {
    margin-top: 14px;
    padding-bottom: 10px;

    &::after {
      top: 42px;
      right: 0;
      width: 100%;
      height: 3px;
      z-index: -2;
    }
  }

  .form__wrapper-header {
    width: 708px;
    padding-bottom: 10px;
  }

  .form__header {
    padding-top: 10px;
    padding-right: 28px;
    margin-left: -39px;
    padding-left: 39px;
    z-index: -1;
  }

  .form__header-helper {
    background-color: #ffffff;
    margin-left: -20px;
    padding-right: 43px;
    padding-bottom: 0;
    padding-top: 10px;
  }

  .form__list--contacts {
    margin-top: 66px;
  }

  input[type="email"] + label {
    margin-right: 21px;
  }

  input[type="tel"] + label {
    margin-right: 15px;
  }

  .form__mail {
    top: 40%;
    right: 17px;
  }

  .form__item--phone::after {
    top: 34%;
    right: 14px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset--contacts::after {
    top: 47px;
  }

  .form__wrapper-header {
    flex-wrap: nowrap;
    width: 1220px;
  }

  .form__header {
    padding-top: 15px;
  }

  .form__header-helper {
    padding-bottom: 0;
    padding-top: 15px;
  }

  .form__list--contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__item--phone,
  .form__item--mail {
    min-width: 570px;
  }

  input[type="email"] + label {
    margin-right: 23px;
  }

  .form__item--mail {
    padding-right: 40px;
  }

  .form__item--phone {
    margin-left: 40px;

    &::after {
      top: 33%;
      right: 19px;
    }
  }

  .form__mail {
    top: 39%;
    right: 60px;
  }
}

.form__fieldset--textarea {
  padding-bottom: 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 0;
    width: 60%;
    height: 3px;
    background-color: $green;
    z-index: -1;
  }
}

.form__textarea {
  width: 100%;
  min-height: 151px;
  margin-bottom: 5px;
  margin-top: 34px;
  box-sizing: border-box;

  @include font-inherit();
  text-transform: uppercase;
  padding: 11px 13px;
  border: 1px solid #e6e6e6;
  outline: none;
}

.form__textarea:hover {
  border: 1px solid #bababa;
}

.form__label--textarea {
  display: inline-block;
  color: #111111;
  text-align: left;
  font-weight: normal;
  position: relative;
  padding-right: 22px;
  background-color: #ffffff;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .form__fieldset--textarea {
    margin-top: 26px;

    &::after {
      top: 31px;
      right: 0;
      width: 100%;
    }
  }

  .form__textarea {
    min-height: 173px;
    margin-top: 76px;
    margin-bottom: 0;
    padding: 15px 19px;
  }

  .form__label--textarea {
    padding-right: 40px;
    margin-left: -39px;
    padding-left: 39px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset--textarea::after {
    top: 33px;
  }
}

.form__fieldset--checkbox {
  padding-top: 0;

  &::after {
    content: "";
    position: absolute;
    top: 35px;
    right: 0;
    width: 60%;
    height: 3px;
    background-color: $green;
    z-index: -1;
  }
}

.form__checkbox:first-child {
  margin-top: 10px;
}

.form__checkbox {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
}

.form__list--checkbox {
  padding-top: 29px;
}

.form__header--checkbox {
  padding-top: 20px;
  padding-right: 23px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: $mobil-width) {
  /* IE10 IE11 до 768px по ширине*/
  .form__header--checkbox {
    padding-top: 23px;
  }
}

.form__checkbox-label {
  margin-left: 45px;
  cursor: pointer;

  &::before {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    top: -6px;
    left: 0;
    border: 1px solid $line-gray-dark;
    cursor: pointer;
  }

  &::after {
    content: "";
    display: none;
    width: 21px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: 5px;
    cursor: pointer;
    background: url("../img/icon-tick.svg") no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset--checkbox {
    margin-top: 45px;
    padding-bottom: 12px;

    &::after {
      top: 41px;
      width: 100%;
      z-index: -2;
    }
  }

  .form__header--checkbox {
    padding-right: 42px;
    padding-top: 20px;
  }

  .form__checkbox:first-child {
    margin-top: 0;
  }

  .form__checkbox {
    min-width: 280px;
    margin-bottom: 52px;
  }

  .form__checkbox:nth-child(2n) {
    margin-left: 64px;
  }

  .form__list--checkbox {
    display: flex;
    flex-wrap: wrap;
    padding-top: 56px;
  }

  .form__checkbox-label {
    margin-left: 59px;

    &::before {
      width: 38px;
      height: 38px;
      top: -10px;
      left: 1px;
    }

    &::after {
      left: 11px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset--checkbox {
    margin-top: 48px;

    &::after {
      top: 42px;
    }
  }

  .form__list--checkbox {
    justify-content: space-between;
  }

  .form__checkbox {
    min-width: 247px;
    margin-bottom: 60px;
  }

  .form__checkbox:nth-child(2n) {
    margin-left: 0;
  }
}

.form__checkbox-input:checked ~ label::after {
  display: block;
}

.form__checkbox-label:hover::before {
  border-color: #bababa;
}

.form__checkbox-label:active {
  opacity: 0.3;
}

.form__checkbox-input:focus + .form__checkbox-label::before {
  box-shadow: 0 0 0 2px $green;
}

.form__checkbox-input:disabled ~ label {
  opacity: 0.3;
  cursor: default;
  border: 1px solid $border-grey;
}

.form__button {
  width: 100%;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-top: 7px;
}

.form__necessarily-field {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  text-align: center;
  color: #444444;
  margin: 21px 0 32px;
}


@media (min-width: $tablet-width) {
  .form__flex {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
  }

  .form__button {
    width: 283px;
    padding: 16px 0;
    font-size: 20px;
    margin-top: 0;
  }

  .form__necessarily-field {
    font-size: 16px;
    margin: 0 0 0 63px;
  }
}

@media (min-width: $desktop-width) {
  .form__flex {
    margin-bottom: 81px;
  }

  .form__button {
    width: 568px;
  }

  .form__necessarily-field {
    margin: 0 0 7px 83px;
  }
}
